@font-face {
  font-family: 'Parangon 530C';
  font-weight: 400;
  font-style: normal;
  src: url('..//fonts/Parangon530C.woff2') format('woff2'),
    url('..//fonts/Parangon530C.woff') format('woff');
}

@font-face {
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  src: url('..//fonts/arial.woff2') format('woff2'),
    url('..//fonts/ArialMT.woff') format('woff');
}

@font-face {
  font-family: 'Arial-BoldMT';
  font-weight: 700;
  font-style: normal;
  src: url('..//fonts/Arial-BoldMT.woff2') format('woff2'),
    url('..//fonts/Arial-BoldMT.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('..//fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('..//fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  font-weight: 400;
  font-style: normal;
  src: url('..//fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('..//fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}

@font-face {
  font-family: 'Tahoma-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('..//fonts/tahomabd.woff2') format('woff2'),
    url('..//fonts/Tahoma-Bold.woff') format('woff');
}