.support-content__title::before {
  content: "BE CAREFUL";
}

.support-img {
  max-width: 560px;
  height: 460px;
  text-align: right;
  margin-top: -60px;
  margin-right: -23px;

  & img {
    width: 100%;
  }
}

// @media (max-width: 1200px){}
// @media (max-width: 992px){}
// @media (max-width: 768px) {}
// @media (max-width: 600px) {}